body {
    background: linear-gradient(50deg, #2d9a48 0%, #229b93 100%);
}

.nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(96, 133, 120);
}

.navbar-brand img{
    width: 45px;
}

.navbar-toggler{
    background-color: rgb(92, 96, 97);
}