.navbar{
    display: flex;
    background-color: rgb(149, 135, 182);
}

.nav-list{
    display: flex;
}

.nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(56, 73, 73);
}

.nav-list a:hover{
   background-color: rgb(183, 170, 214);
}

.nav-btn{
    display: none;
}


@media (max-width: 1000px){
    .nav-btn{
        display: block;
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color:rgb(149, 135, 182);
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
}