body{
    margin: 0px;
    padding: 0px;
}
/* content */
.list_container{
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(21, 21, 24);
    padding-right: 20px; 
}

.list_container>p {
    text-align: center;
    font-weight: bold;
}

/* img{
    float: right;
} */

.img_container{
    float: right;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
    margin-left: 10px;
}

.img_container>div {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.logo-html{
    max-width: 70px;
}

/* Верхняя нав. панель */

.nav_container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 196, 214);
}

.nav_container>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;    
}

.nav_container>nav>ul>li {
    display: block;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width: 900px){
    .nav_container{
        flex-direction: column;
    }
}

.page_text{
    padding-left: 15px;
}

.page{
    display: flex;
    justify-content: center;
}

.header{
    width: 14%;
    background-color: rgb(222, 227, 245);
}

.header>ul{
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
}

.section{
    width: 82%;
}