@font-face {
    font-family: "Emblema One";
    src: url("../fonts/EmblemaOne-Regular.woff"),
        url("../fonts/EmblemaOne-Regular.ttf");
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 15px;
    color: rgb(7, 49, 58);
    font-weight: bolder;
    background-color: beige;
    /* font-family: "Emblema One", sans-serif; */
    font-size: medium;
    font-style: inherit;
    line-height: 1.8em;
}

h1 {
    font-family: "Emblema One", sans-serif;
    font-size: 220%;
    border-bottom: thin dotted #888888;
}

h2 {
    font-size: 130%;
    border-bottom: thin dotted #888888;
}

blockquote,
q {
    font-style: italic;
}

#guarantee {
    border-color: rgb(155, 156, 125);
    border-width: 5px;
    border-style: outset;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;

    background-color: #a7cece;
    padding: 10px;
    padding-left: 7%;

    margin: 10px;
    margin-right: 5%;
    margin-left: 5%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444444;
    background-image: url(../images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

#header {
    width: 650;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-width: 10px;
    border-style: outset;
    border-color: rgb(227, 231, 162);

    padding: 10px;
    padding-left: 7%;

    margin: 30px;
    margin-right: 672px;
    margin-left: 5%;


}

/* #main {
    width: 1381px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-width: 5px;
    border-style: outset;
    border-color: rgb(114, 114, 84);

    padding: 10px;
    padding-left: 1%;
    padding-right: 3%;

    margin: 5px;
    margin-right: 2%;
    margin-left: 2%;

} */

#main h2 {
    color: rgb(56, 61, 49);
}

#main span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;

}

.day {
    width: 1000px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-width: 5px;
    border-style: outset;
    border-color: rgb(227, 231, 162);

    padding: 10px;
    padding-left: 5%;
    padding-right: 1%;

    margin: 30px;
    margin-right: 1%;
    margin-left: 5%;

    background-image: url(../images/binding3.png);
    background-repeat: repeat-y;
    background-position: left;
}